* {
    --hover-color: #A6CDC6;
    --no-color-border: white;
}


.category--card--container {
    border: 0.5px solid var(--no-color-border);
    width: 88px;
    height: 90px;

    margin: 5px;
    padding: 0.5rem;
    border-radius: 10px;

    background-color: white;

    font-size: 13px;

}

.category--card--container:hover  {
    border: 0.5px var(--hover-color) solid;
    width: 88px;
    height: 90px;

    margin: 5px;
    padding: 0.5rem;
    border-radius: 10px;

    background-color: white;
}
