body {
    --light--buttonColor: #F2F2F2;
}

.placeOrder {
    position: fixed;
    bottom: 0%;
    right: 0;
    background-color: var(--button-color);
    height: 60px;
    width: 17%;
    color: white;
}

.cancelOrder {
    position: fixed;
    left: 66%;
    bottom: 0;
    background-color: var(--light--buttonColor);
    height: 60px;
    width: 17%;
    color: black;
}

