.navigation--bar {
    margin-left: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px;
    color: #16404D;
}

.burger--menu {
    margin-right: 50px;
    width: 50px;
}

.nav--date {
    margin-right: 30px;
}

.date--time {
    margin-top: 7px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}