body {
    background-color: #F2F2F2;
}

.div--container {
    display: grid;
    grid-template-areas: 
    "categories-and-products" "customer-checkout"
    
    ;

    grid-template-columns: 65% 35%;

    margin-bottom: 30%;
}

.getProducts, .getCategories  {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}

.customer--order{

    /* we'll think about this feature */
    position: fixed;
    left: 65%;
    right: 0;
    top:0;


    margin: 0px;
    padding: 1rem;

    height: 100% !important;
    width: 33%;

    background-color: white;
}

.search--bar {
    width: 97% !important;
    padding:0.5rem;
    padding-left: 1rem;
    margin-left: 5px;

    border: 1px solid gainsboro;
    border-radius: 20px;
}

.search--bar::placeholder {
    color: #16404D;
    font-size: 10px;
}

