@import "../index.scss";

.section-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparent-color;
    z-index: 10;
    backdrop-filter: blur(1px);
    
    .sidebar-container {
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 310px;
        background-color: $background-color;
        .header-bar-info-container {
            display: flex;
            justify-content:space-around;
            align-items: center;
            margin: 1rem;
            .user-information-container {
                background-color: $darker-than-white;
                border: none;
                border-radius: 20px;
                padding: 0.2rem 3rem;
                .user-name {
                    font-weight: 400;
                }
                .user-role {
                    font-weight: 400;
                }
            }
            .close-button {
                cursor: pointer;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 50px;
                height: 20px;
                background-color: #FB4A4A4D;
                img {
                    width: 20px;
                    height: 20px;
                    &:hover{
                        transform: scale(0.9);
                    }
                }
            }
        }
        .navigation-section {
            margin-top:50%;
            
            .sidebar-navigation {
                padding: 1rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                p{
                    text-decoration: none;
                    margin-left: 10px;
                }
                
                &:hover {
                    background-color: $transparent-color;
                }
                .icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .footer-section {
            position: fixed;
            left: 1%;
            top: 90%;
            border: none;
            border-radius: 20px;
            background-color: $darker-than-white;
            padding: 1rem;
            width: 250px;
            display: flex;
            justify-content: space-between;
            img {
                width: 30px;
                height: 30px;
                &:hover{
                    transform: scale(0.9);
                }
            }
        }
    }
    
}