@import "../../../index.scss";

.header-bar {
    margin: 1rem;
    display: flex;
    align-items: center; 
    padding: 1rem;
    .page-title {
        margin-left: 1rem;
    }
    .add-product {
        height: 40px;
        padding: 0.5rem 3rem;
        margin-left: auto;
        background-color: $theme-color;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
            transform: scale(0.99);
            transition: 1s;
            color: $darker-than-white;
        }
    }
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas: "side-bar products-container";
    grid-template-columns: 1fr 3fr;
    // SIDE BAR
    .side-bar {
        margin: 0.5rem;
        .nav-bar {
            .nav-elements {
                padding: 1rem;
                color: $dark-color;
                display: block;
                border: 0.5px dotted $background-color;
                text-decoration: none;
                &:hover {
                    padding: 1rem;
                    color: $background-color;
                    background-color: $theme-color;
                    border: 0.5px solid $theme-color;
                    border-radius: 10px;
                }
                &.active {
                    padding: 1rem;
                    color: $background-color;
                    background-color: $theme-color;
                    border: 0.5px solid $theme-color;
                    border-radius: 10px;
                }
            }
        }
    }
    // PRODUCTS CONTAINER
    .products-container {
        margin: 0.5rem;

        .product-table {
            width: 100%;
            border-collapse: collapse;
            background-color: $background-color;
            border-radius: 5px;
            overflow: hidden;
            margin-top: 1rem;

            .product-row {
                cursor: pointer;
                &:hover {
                    background-color: $darker-than-white;
                }
                td {
                    padding: 15px;
                    border-top: 1px solid #eee;
                }
                .action-links {
                    a {
                        margin-right: 15px;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .update-link {
                        color: $primary-color;
                    }
                    .delete-link {
                        color: $danger-color;
                    }
                }
            }
            th {
                background-color: #f9f9f9;
                padding: 15px;
                text-align: left;
                font-weight: bold;
                color: #333;
            }
        }
    }
}